/s3-storage/.terraform/*
/s3-storage/.terraform.*
/s3-storage/terraform.*
/s3-frontend/.terraform/*
/s3-frontend/.terraform.*
/s3-frontend/terraform.*
/lambda-post/.terraform/*
/lambda-post/.terraform.*
/lambda-post/terraform.*
/lambda-post/*.zip
/lambda/.terraform/*
/lambda/.terraform.*
/lambda/terraform.*
/lambda/*.zip
/event-bridge/.terraform/*
/event-bridge/.terraform.*
/event-bridge/terraform.*
/dynamo-db/.terraform/*
/dynamo-db/.terraform.*
/dynamo-db/terraform.*
